body {
        background-color:#867979;
    }
    
h2   {
        
        font-family: Helvetica, Arial, serif;
        color:#4c4c33;

}

p    {
        font-family: Georgia, Arial, serif;
        color:#7a7a52;
}

h1    {
        font-family: Helvetica, Arial, serif;
        color:#4c4c33;
        background-color: #a3a375;
        text-align:center;
}

header, footer

{
    background-image:url(../images/skulls.png);
    padding:10px;
    width:100%;
    font-family: "Cursive", Georgia, Serif;
}

main{
    width:100%;
    margin:auto;
    background-image:url(../images/skulls.png);
    padding:20px;
    width:100%;
    color:white
    
}


.container{
    margin:10px;
    padding:10px;
    

}

.colonne{
    width:100%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    background-image:url(../images/skulls.png);
}

p{
    text-align:justify;
}

iframe{
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

img {
	width: 230px;
	height: 230px;
	border: 
    3px black solid; 
    border-radius: 20px;
    display: block;
    margin: 0 auto; 
    box-shadow: 6px 6px 0px black;
}

.introtitle {
    text-align:center;
}
}